*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.logo img{
    width: 15rem;
    height: 7rem;
    padding-left: 4rem;
}
.text{
    float: left;
    margin-top: 12rem;
    margin-left: 5rem;
    line-height: 4.4rem;
    margin-bottom: 22.5rem;
    font-size: 2rem;
}
.bg{
    float: right;
}
.cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 29.5rem;
    margin: auto;
    row-gap: 2.7rem;
    column-gap: 4.7rem;
}
.image img{
    height: 50rem;
    width: 29.5rem;
    border-radius:1rem;
}
.name{
    margin-top: 0.5rem;
    font-size: large;
}
.fa {
  padding: 1rem;
  font-size: 3rem;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  margin: 0.5rem 0.2rem;
}  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #8a3ab9;
    color: white;
  }

  
.s{
    margin-top:1.4rem ;
}


.s:hover {
    box-shadow: 0 2rem 3.5rem 0 rgba(0,0,0,.15),0 0.5rem 0.9rem 0 rgba(0,0,0,.05);
    transition: all 0.2s ease-out;
    background-color: rgb(250, 245, 245);
    transform: scale(1.04);
}
  .footer{
    text-align: center;
    margin: 1.4rem;
}
.footer-line{
    height:0.05rem;
}
.deco{
    text-decoration: none;
}
@media  (max-width:530px){
    .cards{
      margin-top: -14rem;
      display: grid;
      grid-template-columns:1fr 1fr;
      justify-content: center;
    }
    .bg{
        display: none;
        text-align: center;
        }
    .name{
        display: inline;
        margin-top: 0.5rem;
        font-size: medium;
        }    
    .text{
        float: none;
        margin-left: 17rem;
        }
     html{
        font-size: 30%;
        }
}
@media (min-width:531px) and (max-width:999px){
    .cards{
      margin-top: -14rem;
      display: grid;
      grid-template-columns:1fr 1fr ;
      justify-content: center;
    } 
    .bg{
        display: none;
        text-align: center;
        }
    .name{
     display: inline;
     margin-top: 0.5rem;
     font-size: medium;
        }    
    .text{
        float: none;
    }
    
    html{
        font-size: 50%;
        }
}
@media (min-width:1000px) and (max-width:1100px){
    .cards{
        display:grid;
        grid-template-columns:1fr 1fr 1fr ;
        justify-content: center;
        
    }
    .bg{
      display: none;
    }
    .text{
      float: none;
      margin: 8.5rem;
    }
}    
@media (min-width:1101px) and (max-width:1255px){
    .cards{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    } 
    .text{
        width: 46rem;
    }
}  
@media (min-width:1256px) and (max-width:1500px){
    .cards{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    } 
    .text{
        width: 63rem;
    }
}    

@media (min-width:1501px) and (max-width:2000px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 44rem;
        justify-content: center;
    } 
}          
